
params {
    genome = 'hg38'
    igenomes_base = 's3://vl55-pipelines/databases/references'
    aligner = 'star_salmon'
    with_umi = true
    umitools_umi_separator = "_"
    skip_umi_extract = true
    remove_ribo_rna = true
    skip_bigwig = true
    skip_stringtie = true
    skip_dupradar = true
    skip_qualimap = true
    skip_rseqc = true
    skip_biotype_qc = true
    save_reference = true
    save_trimmed = true
    save_bbsplit_reads = true
    save_non_ribo_reads = true
    save_merged_fastq = true
    save_unaligned = true
}


process {
    cpus = { task.attempt > 2 ? check_max(4, 'cpus') : check_max(2, 'cpus') }
    memory = { check_max( 3.5.GB * task.attempt, 'memory'  ) }

    withName : '.*:ALIGN_STAR:STAR_ALIGN|.*:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        cpus = { task.attempt > 2 ? check_max(8, 'cpus') : check_max(4, 'cpus') }
        memory = { check_max( 34.GB * task.attempt, 'memory'  ) }
        //queue = 'spot-high-queue'
    }
    
    withName: '.*:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        cpus = { task.attempt > 2 ? check_max(8, 'cpus') : check_max(4, 'cpus') }
        memory = { check_max( 15.GB * task.attempt, 'memory'  ) }
        //queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 6
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }

    }

    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
        cpus = 4
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
        cpus = 5
        memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
        //queue = 'spot-medium-queue'
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 6
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
        cpus = 4
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
        cpus = 6
        memory = { check_max( 7.GB * task.attempt, 'memory'  ) }
        //queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 6
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_GENOME:SAMTOOLS_INDEX' {
        cpus = 4
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
        cpus = 2
        memory = { check_max( 3.GB * task.attempt, 'memory'  ) }
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 6
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:SAMTOOLS_INDEX' {
        cpus = 4
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:UMITOOLS_DEDUP' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_STAR_SALMON' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
      cpus = 4
      memory = { check_max( 3.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
      cpus = 2
      memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC' {
      cpus = 2
      memory = { check_max( 15.GB * task.attempt, 'memory'  ) }
      //queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
      
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:GTF_GENE_FILTER' {
      cpus = 2
      memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
      cpus = 4
      memory = { check_max( 3.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE' {
      cpus = 2
      memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
      cpus = 2
      memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_SCALED' {
      cpus = 2
      memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_TRANSCRIPT' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TX2GENE' {
      cpus = 2
      memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' {
      cpus = 2
      memory = { check_max( 3.GB * task.attempt, 'memory'  ) }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:SAMTOOLS_SORT' {
      cpus = 5
      memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
      //queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:SORTMERNA' {
      cpus = 8
      memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
      //queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
    }

}
