
params {
    genome = 'hg38'
    igenomes_base = 's3://vl55-pipelines/databases/references'
    aligner = 'star_salmon'
    with_umi = true
    umitools_umi_separator = "_"
    skip_umi_extract = true
    remove_ribo_rna = true
    skip_bigwig = true
    skip_stringtie = true
    skip_dupradar = true
    skip_qualimap = true
    skip_rseqc = true
    skip_biotype_qc = true
    save_reference = true
    save_trimmed = true
    save_bbsplit_reads = true
    save_non_ribo_reads = true
    save_merged_fastq = true
    save_unaligned = true
}


process {
    cpus = { task.attempt > 2 ? check_max(4, 'cpus') : check_max(2, 'cpus') }
    memory = { check_max( 3.5.GB * task.attempt, 'memory'  ) }
    queue = { task.attempt > 2 ? 'spot-medium-queue' : 'spot-low-queue' }

    withName : '.*:ALIGN_STAR:STAR_ALIGN|.*:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        cpus = { task.attempt > 2 ? check_max(8, 'cpus') : check_max(4, 'cpus') }
        memory = { check_max( 45.GB * task.attempt, 'memory'  ) }
        queue = 'spot-high-queue'
    }
    
    withName: '.*:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        cpus = { task.attempt > 2 ? check_max(8, 'cpus') : check_max(4, 'cpus') }
        memory = { check_max( 15.GB * task.attempt, 'memory'  ) }
        queue = { task.attempt > 2 ? 'spot-high-queue' : 'spot-medium-queue' }
    }

    //withName : "PICARD_MARKDUPLICATES" {
    //    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
    //}

    //withName : "QUALIMAP_RNASEQ" {
    //    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
    //}

    //withName : "FASTQC" {
    //    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
    //}

}
